body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";
  --font-nunito: Nunito;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-xs: 0.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-smi: 0.81rem;
  --font-size-13xl: 2rem;

  /* Colors */
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f7f7f7;
  --color-mediumseagreen-100: #47d17b;
  --color-mediumseagreen-200: #2ab45e;
  --color-blueviolet: #9747ff;
  --color-white: #fff;
  --color-gainsboro: #ddd;
  --color-lavender-100: #ebebf7;
  --color-lavender-200: #e8e8fe;
  --color-darkslateblue-100: #604581;
  --color-darkslateblue-200: #373964;
  --color-darkslategray-100: #333;
  --color-plum: #9980b6;
  --color-dimgray-100: #555;
  --color-steelblue: #696291;
  --color-cornflowerblue: #5c6cb2;

  /* Gaps */
  --gap-base: 1rem;
  --gap-11xl: 1.88rem;
  --gap-3xs: 0.63rem;
  --gap-12xs: 0.06rem;
  --gap-2xs: 0.69rem;

  /* Paddings */
  --padding-3xs: 0.63rem;
  --padding-5xs: 0.5rem;
  --padding-xl: 1.25rem;
  --padding-xs: 0.75rem;
  --padding-11xl: 1.88rem;
  --padding-41xl: 3.75rem;
  --padding-base: 1rem;
  --padding-11xs: 0.13rem;
  --padding-9xs: 0.25rem;

  /* border radiuses */
  --br-81xl: 100px;
  --br-8xs: 5px;
  --br-7xs: 6px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-3xs: 10px;
}
