/*******************************************
*** HEADER
*******************************************/

.bg-header {
  top: 0;
  left: calc(50% - 680px);
  width: 85rem;
  height: 5.75rem;
}

.logo-icon {
  position: relative;
  width: 13.63rem;
  height: 2.01rem;
  flex-shrink: 0;
}
.logo-wrapper {
  position: absolute;
  top: 1.88rem;
  left: 1.69rem;
  width: 13.63rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-header,
.search-area {
  background-color: var(--color-white);
  position: absolute;
}

.search-area {
  border: 1px solid var(--color-gainsboro);
  font-family: var(--font-nunito-sans);
  font-size: var(--font-size-base);
  top: 1.56rem;
  left: calc(50% - 277px);
  border-radius: var(--br-8xs);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.02), 0 2px 4px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  width: 32.36rem;
  height: 2.63rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-5xs)
    var(--padding-xs);
  align-items: center;
  justify-content: space-between;
}
.vector-icon13 {
  position: absolute;
  height: 56.25%;
  width: 75%;
  top: 21.88%;
  right: 12.5%;
  bottom: 21.88%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-menu-hamburguer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.99rem;
  height: 2rem;
  flex-shrink: 0;
  overflow: hidden;
}

.btn-primary-round,
.icon-menu-hamburguer-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-primary-round {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-blueviolet);
  border-radius: var(--br-81xl);
  width: 14.31rem;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: center;
}

.icon-menu-hamburguer-parent {
  position: absolute;
  top: 1.56rem;
  left: 66.5rem;
  justify-content: flex-start;
  gap: 0.94rem;
}

.mapas-premium {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: left;
}

.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 85rem;
  height: 6.19rem;
}


/*******************************************
*** TOP BANNER
*******************************************/

.banner-header-ml {
  position: absolute;
  top: 6.19rem;
  left: 0;
  width: 85rem;
  height: 19.38rem;
  background-image: url(./public/bannerheaderml@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


/*******************************************
*** MAIN
*******************************************/

.article,
.banner1,
.title-list1 {
  display: flex;
  flex-direction: column;
}

.article,
.title-list1 {
  justify-content: flex-start;
}
.article {
  height: 164.68rem;
  flex-shrink: 0;
  align-items: center;
  gap: 3.75rem;
}

.bread-crumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-blueviolet);
  font-family: var(--font-nunito-sans);
}
.line-bread {
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 70.06rem;
  height: 0.06rem;
  flex-shrink: 0;
}

.title-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-blueviolet);
  font-family: var(--font-nunito-sans);
}


/*******************************************
*** INDEX
*******************************************/

.index1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.todos-os-mapas {
  position: relative;
  width: 70rem;
  height: 5.31rem;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumseagreen-200);
  font-family: var(--font-nunito-sans);
}

.todos-os-mapas1 {
  position: absolute;
  top: 2.38rem;
  left: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 12.81rem;
  height: 1.38rem;
}

/*******************************************
*** ARTICLE
*******************************************/



.todo-o-contedo {
  display: block;
}
.todo-o-contedo-container1 {
  line-break: anywhere;
  width: 100%;
}
.todo-o-contedo-container {
  margin: 0;
  position: absolute;
  bottom: 0.38rem;
  left: 2.12rem;
  display: flex;
  align-items: center;
  width: 80.58rem;
  height: 4.94rem;
}
.o {
  font-family: var(--font-nunito-sans);
}
.o-studymaps-procura-container,
.studymaps-2018-2023 {
  margin: 0;
  position: absolute;
  left: 2.12rem;
  display: flex;
  align-items: center;
}
.o-studymaps-procura-container {
  bottom: 8.19rem;
  font-size: var(--font-size-smi);
  color: #444;
  width: 25.24rem;
}
.studymaps-2018-2023 {
  bottom: 16.19rem;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  width: 23.49rem;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 49.79%;
  width: 50.21%;
  top: 25.21%;
  right: 24.58%;
  bottom: 25%;
  left: 25.21%;
}
.pinterest-1-1 {
  text-decoration: none;
  position: relative;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  overflow: hidden;
}
.vector-icon2 {
  position: absolute;
  height: 99.39%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.61%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group1,
.clip-path-group2,
.clip-path-group3,
.vector-icon3 {
  position: absolute;
  height: 80.47%;
  width: 42.77%;
  top: 19.53%;
  right: 27.73%;
  bottom: 0;
  left: 29.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group1,
.clip-path-group2,
.clip-path-group3 {
  height: 100%;
  width: 100%;
  top: -127.34%;
  right: 0;
  bottom: 127.34%;
  left: 0;
}
.clip-path-group2,
.clip-path-group3 {
  height: 7.81%;
  width: 7.81%;
  top: 159.38%;
  right: 32.03%;
  bottom: -67.19%;
  left: 60.16%;
}
.clip-path-group3 {
  height: 25%;
  width: 25%;
  top: -89.84%;
  right: 37.5%;
  bottom: 164.84%;
  left: 37.5%;
}
.clip-path-group4,
.clip-path-group5,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 56.25%;
  width: 56.25%;
  top: -105.47%;
  right: 21.88%;
  bottom: 149.22%;
  left: 21.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group5,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  height: 7.81%;
  width: 7.81%;
  top: -95.31%;
  right: 32.03%;
  bottom: 187.5%;
  left: 60.16%;
}
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  top: 32.03%;
  bottom: 60.16%;
}
.vector-icon5,
.vector-icon6 {
  height: 25%;
  width: 25%;
  top: 37.5%;
  right: 37.5%;
  bottom: 37.5%;
  left: 37.5%;
}
.vector-icon6 {
  height: 60%;
  width: 60%;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
}
.social-icon-color {
  width: 19.82rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.44rem;
}

}
.image-6-icon {
  position: relative;
  width: 61.13rem;
  height: 16.13rem;
  flex-shrink: 0;
  object-fit: cover;
}

.vector-icon7 {
  position: relative;
  width: 1.13rem;
  height: 0.94rem;
  flex-shrink: 0;
}
.arrowright-icon,
.cincias-da-sade-container {
  position: relative;
  height: 1.13rem;
  flex-shrink: 0;
}
.arrowright-icon {
  width: 1.13rem;
  overflow: hidden;
}
.cincias-da-sade-container {
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  width: 8.5rem;
}

.ltima-atualizao-em,
.mapas-mentais-sobre {
  margin: 0;
  position: relative;
  font-weight: 600;
}
.mapas-mentais-sobre {
  font-size: inherit;
  text-transform: uppercase;
  font-family: inherit;
}
.ltima-atualizao-em {
  font-size: var(--font-size-xs);
  color: #666;
}

.bg-grey-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 70rem;
  height: 5.31rem;
}

.abrir,
.vector-icon8 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon8 {
  width: 1rem;
  height: 0.55rem;
}
.abrir {
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-nunito-sans);
  color: var(--color-steelblue);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 3.38rem;
}
.fechar-collapse {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs);
  background-color: transparent;
  position: absolute;
  top: 1.44rem;
  left: 62.63rem;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}


.controle-social-no {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.title-br,
.title-short {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-short {
  border-bottom: 5px solid var(--color-mediumseagreen-100);
  padding: var(--padding-3xs) 0;
}
.title-br {
  margin: 0;
  border-bottom: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 70rem;
  font-size: inherit;
  font-family: inherit;
}
.image-3-icon {
  position: relative;
  width: 70rem;
  height: 49.49rem;
  flex-shrink: 0;
  object-fit: cover;
}
.openals-gpt-4 {
  margin: 0;
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  width: 31.94rem;
}
.mostrar-mais1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-nunito-sans);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.caretdown-icon {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  overflow: hidden;
}
.mostrar-mais,
.tags {
  display: flex;
  align-items: flex-start;
}
.mostrar-mais {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-11xs);
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.tags {
  flex-direction: column;
  justify-content: center;
}
.vector-icon9 {
  position: absolute;
  height: 78.13%;
  width: 87.51%;
  top: 6.25%;
  right: 6.24%;
  bottom: 15.63%;
  left: 6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thumbsup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  overflow: hidden;
}
.b,
.pipe,
.thumbsup {
  position: relative;
}
.b {
  text-transform: uppercase;
}
.pipe {
  background-color: var(--color-plum);
  width: 0.06rem;
  height: 0.94rem;
  flex-shrink: 0;
}
.vector-icon10 {
  position: absolute;
  height: 78.13%;
  width: 87.51%;
  top: 6.25%;
  right: 6.25%;
  bottom: 15.63%;
  left: 6.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btn-like {
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.compartilhar {
  position: relative;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  font-family: var(--font-nunito-sans);
  color: var(--color-blueviolet);
  text-align: left;
}
.btn-share {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet);
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-lavender-200);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.download {
  position: relative;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: left;
}
.btn-download {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet);
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-blueviolet);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.box-footer-actions,
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons {
  justify-content: flex-end;
  gap: var(--gap-3xs);
  color: var(--color-blueviolet);
}
.box-footer-actions {
  border-radius: 0 0 var(--br-7xs) var(--br-7xs);
  background-color: var(--color-whitesmoke-200);
  border-top: 1px dashed var(--color-gainsboro);
  box-sizing: border-box;
  width: 70rem;
  padding: var(--padding-base);
  justify-content: space-between;
}
.box-mapmental,
.image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image {
  border-radius: var(--br-3xs);
  border-bottom: 3px solid var(--color-blueviolet);
  overflow: hidden;
  gap: var(--gap-12xs);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
}
.box-mapmental {
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-blueviolet);
  font-family: var(--font-nunito-sans);
}
.banner-1-icon {
  position: relative;
  width: 62.78rem;
  height: 7.75rem;
  flex-shrink: 0;
  object-fit: cover;
}
.banner,
.control {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.banner {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px dashed var(--color-gainsboro);
  width: 70rem;
  height: 15.25rem;
  padding: var(--padding-41xl) 0;
  justify-content: space-between;
}
.control {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: #f2f2f2;
  border-radius: var(--br-5xs);
  width: 2rem;
  height: 2rem;
  justify-content: center;
}
.date {
  position: relative;
  font-weight: 600;
}
.page,
.page1,
.page3 {
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
}
.page {
  border-radius: var(--br-5xs);
  background-color: var(--color-blueviolet);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: var(--color-white);
}
.page1,
.page3 {
  background-color: var(--color-white);
  width: 2rem;
  height: 2rem;
}
.page1 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-blueviolet);
  display: flex;
  align-items: center;
}
.page3 {
  border-radius: var(--br-81xl);
}
.control1,
.page3,
.pagination-v1 {
  display: flex;
  align-items: center;
}
.control1 {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet);
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.pagination-v1 {
  width: 22rem;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
  font-family: var(--font-open-sans);
}
.image-5-icon {
  position: relative;
  width: 45.5rem;
  height: 5.63rem;
  flex-shrink: 0;
  object-fit: cover;
}

.banner1 {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px dashed var(--color-gainsboro);
  box-sizing: border-box;
  width: 70rem;
  padding: var(--padding-41xl) 0;
  align-items: center;
  justify-content: center;
}

.title-list1 {
  margin: 0;
  align-items: flex-start;
  font-size: inherit;
  font-family: inherit;
}
.card-child {
  position: relative;
  border-radius: var(--br-7xs);
  width: 22.08rem;
  height: 12.88rem;
  flex-shrink: 0;
  object-fit: cover;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.card-item {
  position: relative;
  border-radius: var(--br-9xs);
  width: 22.08rem;
  height: 12.88rem;
  flex-shrink: 0;
  object-fit: cover;
}
.distinctio-fugiat-vero {
  margin: 0;
}
.distinctio-fugiat-vero-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.all-cards,
.posts,
.related-posts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.all-cards {
  width: 70rem;
  flex-direction: row;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.posts,
.related-posts {
  flex-direction: column;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
}
.related-posts {
  width: 70rem;
  height: 25rem;
  flex-shrink: 0;
  padding: var(--padding-41xl) 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-blueviolet);
  font-family: var(--font-nunito-sans);
}
.label-tag {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-darkslateblue-200);
  text-align: center;
}
.button-tag,
.collection-tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-tag {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet);
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-lavender-100);
  border-radius: var(--br-9xs);
}
.collection-tags {
  gap: var(--gap-base);
}
.all-tags {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px dashed var(--color-gainsboro);
  width: 70rem;
  overflow: hidden;
  padding: var(--padding-xl);
  gap: var(--gap-base);
}
.all-tags,
.main-content,
.tags2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags2 {
  width: 70rem;
  height: 12.5rem;
  flex-shrink: 0;
  padding: var(--padding-41xl) 0 var(--padding-3xs);
}
.main-content {
  position: absolute;
  top: 25.56rem;
  left: 5.63rem;
  border-radius: 12px;
  background-color: var(--color-white);
  width: 73.75rem;
  height: 225.19rem;
  padding: var(--padding-11xl);
  gap: var(--gap-11xl);
}
.indicator-child {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.call-to-action,
.indicator {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.indicator {
  background-color: transparent;
  top: 16.5rem;
  left: calc(50% - 71px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.call-to-action {
  background-color: #00d452;
  top: 10.25rem;
  left: 42.69rem;
  border-radius: var(--br-81xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  width: 16.25rem;
  height: 3.5rem;
}
.conhea-mais {
  position: absolute;
  top: 11.38rem;
  left: 46.88rem;
  text-transform: uppercase;
}
.v-muito-alm {
  position: absolute;
  top: 2rem;
  left: 7.5rem;
  font-size: 2.38rem;
  font-weight: 800;
}
.posiplay-uma-container {
  position: absolute;
  top: 5.25rem;
  left: 7.75rem;
  font-size: 1.25rem;
  color: var(--color-mediumseagreen-100);
  display: flex;
  align-items: flex-end;
  width: 52.06rem;
}
.exerccios-resolvidos-em {
  line-height: false;
}
.prepare-se-para-encontrar-container {
  position: absolute;
  top: 7.88rem;
  left: 7.69rem;
  display: flex;
  align-items: flex-end;
  width: 23.13rem;
}
.line-bottom {
  position: absolute;
  top: 5.75rem;
  left: 0;
  background-color: var(--color-mediumseagreen-100);
  width: 85rem;
  height: 0.44rem;
}

.post-maps-single-closed {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 302.5rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}



/*******************************************
*** FOOTER BANNER
*******************************************/

.banner-footer {
  position: absolute;
  top: 250.75rem;
  left: 7.5rem;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px dashed var(--color-gainsboro);
  box-sizing: border-box;
  width: 70rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-41xl) 0;
  align-items: center;
  justify-content: center;
}

/*******************************************
*** FOOTER
*******************************************/

.contato-poltica {
  margin: 0;
  position: relative;
  font-weight: 600;
}
.social-e-links {
  position: absolute;
  top: 4.75rem;
  left: 30.69rem;
  width: 23.63rem;
  height: 9.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.19rem;
  font-size: var(--font-size-base);
  color: #6666ad;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fbf9f9;
  width: 85rem;
  height: 23.69rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-nunito-sans);
}

.student-afro-icon {
  position: absolute;
  bottom: 4.75rem;
  left: 51.79rem;
  width: 33.22rem;
  height: 18.75rem;
  object-fit: cover;
}

.bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 3px solid var(--color-blueviolet);
  box-sizing: border-box;
  width: 85rem;
  height: 5.31rem;
}


.backgound-geral {
  position: absolute;
  top: 6.19rem;
  left: 0;
  background-color: var(--color-white);
  width: 85rem;
  height: 289.56rem;
}